<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .network_release_date {
      display: inline-block;
      vertical-align: top;
    }
    .main {
      margin-left: 300px;
      width: 390px;
    }
    .go_back {
      margin-left: 700px;
    }
  
  </style>
</head>
<body>

  <a class="go_back" href="/shows">GO Back</a>
  <div class="main">
    <h1>Add a New Show</h1>


              {% if messages %}
          <ul class="messages">    
              {% for message in messages %}    
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
              {% endfor %}
          </ul>
          {% endif %}

          
    <form action="/taking_show_info" method="POST">
      {%csrf_token%}
        <div class="title_cont">
          <p>Title</p>
          <input type="text" name="title" size="50">
        </div>
        <div class="network_release_date">
          <p>Network</p>
          <input type="text" name="network">
        </div>
        <div class="network_release_date">
          <p>Release Date</p>
          <input type="date" name="date">
        </div>
        <p>Description</p>
        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>

        <input type="submit" value="Create">
    
    </form>
  </div>
</body>
</html>