<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  div {
    display: inline-block;
    border: 2px black solid;
    margin-left: 600px;
  }
  h1 {
    text-align: center;
  }
  .thep {
    font-size: 60px;
  }
  
  </style>
</head>
<body>
  <h1>The current time and date:</h1>
  <div>
      <p class="thep">{{time}}</p>

  </div>
</body>
</html>