<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>Submitted Info</h1>
  <p>Name: {{nam}}</p>
  <p>Dojo Location: {{location}} </p>
  <p>Favorite Language: {{language}}</p>
  <p>Comment: {{comment}} </p>
  <a href="http://localhost:5000/"><input name="goback" type="submit" value="Go back" ></a>
</body>
</html>