<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
    <div *ngIf='the_cake' class="container mt-5 mb-5 border border-primary">
        <h2>Baked by {{the_cake.bakerName}}</h2>
        <div class="row">
          <div class="col">
            <img src="{{the_cake.url}}" alt="broke" width="300px">
          </div>
          <div class="col">
            <h5>Avarage rating: {{avgSum}}</h5>
            <div *ngFor='let review of the_cake.reviews'>
              <p>{{review.comment}}</p>
              <p *ngIf='review.rating == 5'>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
              <p *ngIf='review.rating == 4'>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
              <p *ngIf='review.rating == 3'>&#9733;&#9733;&#9733;&#9734;&#9734;</p>
              <p *ngIf='review.rating == 2'>&#9733;&#9733;&#9734;&#9734;&#9734;</p>
              <p *ngIf='review.rating == 1'>&#9733;&#9734;&#9734;&#9734;&#9734;</p>
            </div>
          </div>
        </div>
      </div>

</body>
</html>