<ul *ngFor='let task of tasks'>
  <li>Title: {{task.title}} |  Description: {{task.description}}</li>
</ul>

<button (click)='ShowOnclick()'>Show tasks</button>

<ul *ngFor='let b of showTasks'>
  <li>{{b.title}} |||| {{b.description}}<button (click)='id_taker(b._id)' >Show!</button></li>
</ul>
<p>{{the_id_title}} {{the_id_description}}</p>
<h1>The Post Form starts here ! :)</h1>
<h2>New Task</h2>
<form (submit)='create()'>
  <input type="text" name="newTask.title" [(ngModel)]='newTask.title'>
  <input type="text" name="newTask.description" [(ngModel)]='newTask.description'>
  <input type="submit" value="Submit New Task !!!">
</form>

