<app-veso *ngIf='taskToShow' [taskToShow]='selectedTask'></app-veso>
<div class="root">
<ul *ngFor='let task of tasks'>
  <li>Title: {{task.title}} |  Description: {{task.description}} <button (click)='ShowToEditTask(task._id)'>Edit</button><button (click)='deleteTask(task._id)'>Delete</button></li>
</ul>
<form (submit)="editTask()">
    <div *ngIf='taskToUpdate'>
      <h4>Edit Task</h4>
      <p><input type="text" name="taskToUpdate.title"  [(ngModel)]='taskToUpdate.title'></p>
      <p><input type="text" name="taskToUpdate.description" [(ngModel)]='taskToUpdate.description'></p>
      <input type="submit" value="Edit Task !">
    </div>
  </form>
<button (click)='ShowOnclick()'>Show tasks</button>

  <ul *ngFor='let b of showTasks'>
    

    <li>{{b.title}} |||| {{b.description}}<button (click)='taskToShow(b._id)' >Show!</button></li>

    
  </ul>

  <!-- <p *ngIf='thetask'> the the title: {{selectedTask.title}} and the description: {{selectedTask.description}}</p> -->

<h1>The Post Form starts here ! :)</h1>
  <h2>New Task</h2>
    <form (submit)='create()'>
      <input type="text" name="newTask.title" [(ngModel)]='newTask.title'>
      <input type="text" name="newTask.description" [(ngModel)]='newTask.description'>
      <input type="submit" value="Submit New Task !!!">
    </form>

  </div>
  <app-veso></app-veso>
  <app-veso *ngIf='taskToShow' [taskToShow]='selectedTask'></app-veso>